<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bob_o_extrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DataExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bob_o_extrator.Properties.Settings>
            <setting name="LastImportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastScriptPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value />
            </setting>
        </Bob_o_extrator.Properties.Settings>
        <DataExtractor.Properties.Settings>
            <setting name="LastImportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastScriptPath" serializeAs="String">
                <value />
            </setting>
        </DataExtractor.Properties.Settings>
    </userSettings>
</configuration>